In [75]:
import yfinance as yf
import pandas as pd
import numpy as np
import seaborn as sbs
import matplotlib.pyplot as plt
from datetime import datetime, timedelta

In [2]:
df_tickers = pd.read_excel('tickers/tickers_only.xlsx')

In [6]:
apple = yf.Ticker(df_tickers['Ticker'].values[1])

In [7]:
apple_history = apple.history(start='2000-01-01', end='2024-01-26')

In [26]:
apple_history['Date'] = apple_history.index

In [100]:
apple_history.to_csv('apple_history.csv', index=False)

In [96]:
def extract(ticker:str, start_date:str):
    current_date = datetime.now().strftime('%Y-%m-%d')
    yf_ticker = yf.Ticker(ticker)
    history = yf_ticker.history(start = start_date, end = current_date)
    history['Date']=history.index
    return history

In [97]:
def load(filename: str, ticker: str):
    saved_df = pd.read_csv(filename)
    last_date = datetime.strptime(saved_df['Date'].values[-1][:10], "%Y-%m-%d")
    needed_date = (last_date + timedelta(days=1)).strftime('%Y-%m-%d')
    update_df = extract(ticker, needed_date)
    updated_df = pd.concat([saved_df, update_df], axis=0)
    updated_df = updated_df.reset_index()
    updated_df = updated_df.drop('index', axis=1)
    updated_df.to_csv(filename, index=False)
    return updated_df

In [94]:
load('apple_history.csv', df_tickers['Ticker'].values[1])

2024-01-25 00:00:00-05:00

,Open,High,Low,Close,Volume,Dividends,Stock Splits,Date
0,0.793754,0.851464,0.769629,0.847207,535796800,0.0,0.0,2000-01-03 00:00:00-05:00
1,0.819298,0.837273,0.765845,0.775779,512377600,0.0,0.0,2000-01-04 00:00:00-05:00
2,0.785239,0.836800,0.779563,0.787131,778321600,0.0,0.0,2000-01-05 00:00:00-05:00
3,0.803215,0.809837,0.719014,0.719014,767972800,0.0,0.0,2000-01-06 00:00:00-05:00
4,0.730367,0.764426,0.722799,0.753073,460734400,0.0,0.0,2000-01-07 00:00:00-05:00
...,...,...,...,...,...,...,...,...
6050,192.300003,195.330002,192.259995,193.889999,60133900,0.0,0.0,2024-01-22 00:00:00-05:00
6051,195.020004,195.750000,193.830002,195.179993,42355600,0.0,0.0,2024-01-23 00:00:00-05:00
6052,195.419998,196.380005,194.339996,194.500000,53631300,0.0,0.0,2024-01-24 00:00:00-05:00
6053,195.220001,196.270004,193.110001,194.169998,54822100,0.0,0.0,2024-01-25 00:00:00-05:00
6054,194.270004,194.759995,191.940002,192.419998,44553400,0.0,0.0,2024-01-26 00:00:00-05:00